#fotoB1 {
    background-image: url(../produtos/banheiro/Nicho\ Banheiro\ -\ D.png);
}

#fotoB2 {
    background-image: url(../produtos/banheiro/Porta\ Papel\ -\ D.png);
}

#fotoC1 {
    background-image: url(../produtos/cozinha/Porta\ tempero\ -\ D.png);
}

#fotoO1 {
    background-image: url(../produtos/outros/Porta\ Chave\ -\ Branco.png);
}

#fotoO2 {
    background-image: url(../produtos/outros/Porta\ Chave\ -\ Cinza.png);
}

#fotoO3 {
    background-image: url(../produtos/outros/Porta\ Chave\ -\ Marrom.png);
}

#fotoO4 {
    background-image: url(../produtos/outros/Porta\ Livro\ -\ D.png);
}